<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <script src="/static/js/admin.js"></script>
    <title>PLEXUS - Upload Data</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="header" id="header-fixed">
    <div class="header-left">
        <a href="/" class="header-text">PLEXUS Admin | </a>
        <a href="/cities" class="header-links">Surveys</a>
        <a href="/users" class="header-links">Users</a>
    </div>

    <div class="dropdown header-right">Hello, username!
        <button class="dropbtn">
          <i class="arrow down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/accounts/logout">Logout</a>
        </div>
    </div>
</div>

<div class="home-upload-page">
    <div class="home-upload-container">
        <h1 class="index-text index-top-left">Upload New Survey Data</h1>
        <form id="form" method="post" enctype="multipart/form-data">
            <div class="upload-fields">
                <div class="field-label">City/Municipality</div>
                <select class="filter-dropdown city-upload-dropdown">
                    <option value="">Antipolo City, CALABARZON</option>
                    <option value="">Baguio City, CAR</option>
                    <option value="">Metro Manila, NCR</option>
                </select>
            </div>
            {% csrf_token %}
            {#<input type="file" id="file" name="file" accept=".csv" />#}
            <div class="upload-fields">
                <div class="field-label">Upload File</div>
                <div class="upload-box">{{ form.as_p }}</div>
            </div>
            <div class="upload-fields">
                <div class="field-label">When was it collected?</div>
                <input type="date" class="date-picker" name="date-collected">
            </div>
            <input type="submit" class="upload-buttons" value="Upload & Preview this data >">
        </form>
        <a href="/survey" class="upload-buttons">Test</a>
    </div>
</div>
</body>
</html>