<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <title>HOME - Admin</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button">PLEXUS Admin |</a>
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Link</a>
      <a href="#about" class="w3-bar-item w3-button">Link</a>
      <a href="#contact" class="w3-bar-item w3-button">Link</a>
    </div>
  </div>

    <div class="header-right">Hello, username!</div>
</div>

<div class="index-page">
    <div class="index-btn-container">
        <a class= "index-buttons" href="upload/">Upload Data</a>
        <a class= "index-buttons" href="cities/">View cities</a>
        <a class= "index-buttons" href="#">View data</a>s
    </div>
</div>
</body>
</html>