<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <script src="/static/js/admin.js"></script>
    <title>PLEXUS - Manage Users</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button">PLEXUS Admin |</a>
    <div class="w3-right w3-hide-small">
        <a href="/upload" class="w3-bar-item w3-button">Upload Data</a>
        <a href="/cities" class="w3-bar-item w3-button">Manage Cities</a>
        <a href="/users" class="w3-bar-item w3-button">Manage Users</a>
        <a href="/" class="w3-bar-item w3-button">View Data</a>
    </div>
  </div>

    <div class="dropdown header-right">Hello, username!
        <button class="dropbtn">
          <i class="arrow down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/accounts/logout">Logout</a>
        </div>
  </div>
</div>

<div class="users-page">
    <div class="users-container">
        <div class="users-tab">
            <button class="tablinks" id="btn-pending" onclick="openUsers(event, 'users-pending')">Pending</button>
            <button class="tablinks" onclick="openUsers(event, 'users-approved')">Approved</button>
        </div>

        <div class="users-tab-content">
            <div id="users-pending" class="tabcontent">
                <div class="tabcontent-left users-header">Email</div>
                <div class="tabcontent-right users-header">Approve</div>

                <div class="tabcontent-left">andy_samberg@dlsu.edu.ph</div>
                <div class="tabcontent-right">bleh</div>

                <div class="tabcontent-left">andy_samberg@dlsu.edu.ph</div>
                <div class="tabcontent-right">bleh</div>

                <div class="tabcontent-left">andy_samberg@dlsu.edu.ph</div>
                <div class="tabcontent-right">bleh</div>git
            </div>

            <div id="users-approved" class="tabcontent">
                <h3>Approved</h3>
            </div>
        </div>
    </div>
</div>

</body>
</html>