<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <script src="/static/js/admin.js"></script>
    <title>PLEXUS - Manage Users</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="header" id="header-fixed">
    <div class="header-left">
        <a href="/" class="header-text">PLEXUS Admin | </a>
        <a href="/" class="header-links">Surveys</a>
        <a href="/users" class="header-links">Users</a>
    </div>

    <div class="dropdown header-right">Hello, username!
        <button class="dropbtn">
          <i class="arrow down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/accounts/logout">Logout</a>
        </div>
    </div>
</div>

<div class="users-page">
    <div class="users-container">
    </div>
</div>

</body>
</html>